.navbar_mobile_wrapper {
    display: none;
    grid-area: navbar_mobile;
}

@media (max-width: 880px) {

    .navbar_mobile_wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: white;
        height: 50px;
        box-shadow: 0 1px 1px 1px rgb(102, 101, 101);
    }

    .navbar_mobile_wrapper img {
        width: 35px;
        height: 25px;
        align-items: center;
        margin: 0 !important;

    }

    .active {
        background-color: #dddddd;


    }

}