.my_profile {

    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 3px rgba(122, 122, 122, 0.2);
 
}

.my_profile img {
    border-radius: 200px;
    max-width: 150px;
    margin-right: 20px;
}

.my_profile_content {
    margin-left: 50px;
    margin: auto 0;
}

@media (max-width: 800px) {
    .my_profile img {
        border-radius: 200px;
        max-width: 200px;
        width: 20vw;
        height: 20vw;
        margin: auto 0;

    }

    .my_profile h2 {
        margin: 10px 0;
    }

    .my_profile p {
        font-size: 14px;
        margin: 10px 0;
    }

    .my_profile_content {
        margin-left: 5%;
    }

    .my_profile_content h2 {
        font-size: 16px !important;
    }

}