/* HEADER */

header {
    grid-area: header;

    align-items: center;

    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0.2em 0.1em 3px rgba(122, 122, 122, 0.2);
}


.logo {

    display: grid;

    grid-template-areas:
        ". logo . .";
    grid-template-columns: 1fr 200px minmax(650px, 1fr) 1fr;
}

.logo_wrapper {
    grid-area: logo;
    display: flex;
    align-items: center;
    gap: 10px;

}


.logo img {

    width: 50px;
    align-items: center;

}

h1 {

    font-size: 20px;
    text-transform: uppercase;


}

@media (max-width: 800px) {

    .logo {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 5px 0 5px 5%;
    }

}