.active {

    padding: 5px 15px 5px 5px;
    align-items: center;
    margin: 10px;
    background-color: #dddddd;
    margin-right: auto;
    border-radius: 25px;

}

.active p {
    padding: 0;
    margin: 0;
}


.dialog {
    padding: 0;
    align-items: center;
    margin: 10px;
    padding: 5px 15px 5px 5px;
}


.dialog p {
    margin: 0;
    padding: 0;
}

.chat_avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
}

.message_count {

    margin-left: 5px !important;
}