
.active {
    margin: 0;
    padding: 0;
    padding: 10px;
}

.active p {
    margin: 0;
    padding: 5px;
    background-color: #dddddd;
    margin-right: auto;
    border-radius: 5px;
}

.dialog {
    margin: 0;
    padding: 0;
    padding: 10px;
   
}


.dialog p {
margin: 0;
padding: 0;
padding: 5px;
} 