/* GLOBAL STYLES */

body {
  background-color: #edeef0
}

.App-wrapper {
  display: grid;
  grid-template-areas:
    "header header header header"
    ". navbar main .";
  grid-template-rows: 75px 1fr;
  grid-template-columns: 1fr 200px minmax(650px, 1fr) 1fr;
  gap: 10px;
}


@media (max-width: 800px) {

  .App-wrapper {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "navbar_mobile";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 50px;
  }

  main {
    margin: 0 5%;
  }
}

.app-content-wrapper {
  grid-area: main;
  max-width: 900px;

}